<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleName</key>
    <string>PhotoKits</string>
    <key>CFBundleDisplayName</key>
    <string>PhotoKits</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    
    <key>CFBundleIdentifier</key>
    <string>com.jiaxi.PhotoKits</string>

    <!-- 相册访问权限（读取） -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App 需要访问您的相册以选择图片。</string>

    <!-- 相册写入权限（保存） -->
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App 需要保存处理后的图片到相册。</string>

    <!-- 应用类别 -->
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.photography</string>

    <!-- 支持的设备类型 -->
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer> <!-- 支持 iPhone -->
        <integer>2</integer> <!-- 支持 iPad -->
    </array>

    <!-- 支持的屏幕方向（iPhone 和 iPad） -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- 支持的屏幕方向（iPad 专用） -->
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>


    
    <!-- 启动界面配置 -->
    <key>UILaunchScreen</key>
    <dict/>

    <!-- 主要界面配置 -->
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
</dict>
</plist>

